
*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin 0;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	color: #E1E7E4;
	font-size: 15px;
}

body {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: flex;
	font-size: 1rem;
}


.container{
	height: 100vh;
	width:100%;
	margin: 0 auto;
	background-image: url(../images/tiefighter.jpg);
	background-position: center;
	background-size:cover;
	padding-left: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar{
	width:100%;
	height:  15vh;
	margin:auto;
	display:flex;
	align-items: center;
}

nav{
	flex:  1;
	padding-left:60px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

nav ul a{
	text-decoration:none;
	color:#f8f8ff;
	font-size: 15px;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.galaxy h1 {
	animation: fadeIn 2s ease-in;
	font-size: 60px;
	font-weight: 400;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
	line-height: 1.35;
	width: 100%;
	margin-top: 150px;
	margin-bottom: 150px;
	color: #E1E7E4;
	text-shadow:
      0 0 7px #fff;
	text-align: center;
}

@keyframes fadeIn{
	from {
		color:#4bd5ee;
	}

	to {
		color:#E1E7E4;
		text-shadow:
      	0 0 7px #fff;
	}
}

.fade {
position: relative;
width: 100%;
min-height: 60vh;
top: -25px;
z-index: 1;
}

.title {
display: flex;
justify-content: center;
position: relative;
height: 500px;
color: #E1E7E4;
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-size: 75px;
font-weight: 400;
letter-spacing: 5px;
line-height: 150%;
perspective: 1000px;
}

.crawl {
position: relative;
top: 99999px;
transform-origin: 50% 100%;
animation: crawl 90s linear;
}

.crawl > .title {
font-size: 90%;
text-align: center;
}

.crawl > .title h1 {
margin: 0 0 15px;
text-align: center;
}

.crawl >.title p {
	justify-content: center;
}
@keyframes crawl {
0% {
top: -100px;
transform: rotateX(20deg)  translateZ(0);
}
100% {
top: -6000px;
transform: rotateX(25deg) translateZ(-2500px);
}
}